.contact_section{
    /* Textured Background from : https://www.transparenttextures.com/ */
    background-color: #393e46;
    background-image: url(http://www.transparenttextures.com/patterns/cubes.png); 
}

.contact_whole_container{
    margin: 0 10%;
    text-align: center;
    padding-bottom: 80px;
}

.contact_main_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* <<--------------------     Main Heading    ------------------>> */

.contact_heading{
    display: inline-block;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 150px;
    margin-bottom: 80px;
    padding: 10px 30px;
    background-color: #00acb580;
    border-radius: 10px;
    color: #fff;
}

/* <<--------------------     Google Map    ------------------>> */

.contact_map{
    padding: 10px 0px 10px 60px;

}

/* <<--------------------     Address Title    ------------------>> */

.adress_btn_container{
        text-align: left;
}

.adress_btn_container h2{

    font-size: 2.5rem;
    font-weight: bold;
    color: #00ADB5;
}

.adress_btn_container p{

    font-size: 1.5rem;
    color: #EEEEEE;
    max-width: 36ch;
}

/* <<--------------------     Buttons CSS    ------------------>> */

.adress_btn_container a{
    display: inline-block;
    font-size: 1.5rem;
    border: 3px solid #00ADB5;
    text-decoration: none;
    background-color: #00acb580;
    color: #EEEEEE;
    padding: 10px 30px;
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 100px;
    
}

.adress_btn_container i{
    font-size: 1.5rem;
    margin-right: 20px;

}

.adress_btn_container a:hover{
    color: #EEEEEE;
    background-color: #00ADB5;
    transition: all 0.3s ease-in-out;
}


 /* <<<============================    For Mobile    ============================>>>  */

 @media only screen and (max-width: 600px) {
    .contact_main_container{
        display: grid;
        grid-template-columns: 1fr;
    }


    .adress_btn_container p{

        margin-bottom: 50px;
    }

    .adress_btn_container a{
        margin: 10px 0;
        display: block;
        text-align: center;
        
    }

    .contact_map{
        margin-top: 50px;
        padding: 10px 0px 10px 0px;
    
    }

 }