.home_three_section{
    /* Textured Background from : https://www.transparenttextures.com/ */
    background-color: #393e46;
    background-image: url(http://www.transparenttextures.com/patterns/cubes.png); 
}


.home_three_container{
    display: grid;
    margin: 0 10%;
    
}

/* <<--------------------     Heading Part    ------------------>> */


.home_three_text_container{
    display: grid;
    margin: 50px 0;
}

.home_three_text_container h1{

    
    width: 100%;
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-size: 4rem;
    margin-top: 80px;
    letter-spacing: 2px;
    /* text-transform: uppercase; */
    background-color: #00acb580;
    border-radius: 10px;
    padding: 5px 0;
    
    
}

/* <<--------------------     Image Cards Part    ------------------>> */

.home_three_img_container{
    display: grid;
    /* margin: 0 10%; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 80px;
}

.home_three_card{
    
    transform-origin: left top;
    margin-bottom: 25px;
    position: relative;
    height: 150px;
    width: 350px;
    border-radius: 20px;
    left: 50%;
    transform: translate(-50%);
    box-shadow: 5px 5px 0px 2px #fff;
}

.home_three_card:hover{
    scale: 1.1;
    transition: all 0.3s;
    filter: brightness(100%);
    /* box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.50); */
}

.home_three_img{
    height: 150px;
    width: 350px;
    border-radius: 20px;
    /* filter: brightness(35%); */
    object-fit: cover;


}


/* <<--------------------     Image Text Part    ------------------>> */


.home_three_card:hover .home_three_card_text{

    filter: opacity(65%);
    cursor: default;
}


.home_three_card_text{

    color: #fff;
    background-color: #323232c0;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    padding: 5px 10px;
}



/* <------------------------------    For Mobile    ---------------------------->  */

/* @media only screen and (max-width: 600px) {
    .home_two_img_container{
        grid-template-columns: 1fr;
        text-align: center;
        margin-top: 10px;

    }

    .home_two_img{
        height: 180px;
        width: 300px;
        border-radius: 20px;
        filter: brightness(75%);

    }

    .home_two_img:hover{
        scale: 1.1;
        transition: all 0.3s;
        filter: brightness(100%);
        box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.50);

    }

    .home_two_card_text{
        color: #fff;
        position: absolute;
        top: 140px;
        left: 40px;
        font-size: 1.1rem;
        text-transform: uppercase;

    }

    .home_two_text_container h1{
        margin-top: 80px;
    }
    .home_two_text_container p{
        font-size: 1rem;
        margin-bottom: 0;
    }
} */