.home_section{
    /* Textured Background from : https://www.transparenttextures.com/ */
    background-color: #393e46;
    background-image: url(http://www.transparenttextures.com/patterns/cubes.png); 
}

.home_container{
    display: grid;
    margin: 0 10%;
    grid-template-columns: 1fr 1fr;
}



.home-text{
    margin-top: 160px;
    margin-bottom: 110px;
    color: #00ADB5;
    font-weight: bold;
    font-size: 6rem;
    letter-spacing: 5px;

}

.home-text span{
    color: #EEEEEE;
    font-weight: bold;
    letter-spacing: 5px;

}

.home-img{
    margin-top: 190px;
    height: 400px;
    width: 650px;
    border-radius: 50px;
    /* box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.35); */
    text-align: right;
}
.animated{
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down{
    0%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
}

@keyframes up-down{
    0%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
}

/* <------------------------------    For Mobile    ---------------------------->  */

@media only screen and (max-width: 600px) {
    .home_container{
        display: grid;
        margin: 0 10%;
        grid-template-columns: 1fr;
    }

    .home-text{
        margin-top: 120px;
        margin-bottom: 10px;
        color: #00ADB5;
        font-weight: bold;
        font-size: 3.8rem;
        letter-spacing: 5px;
        text-align: center;
        /* text-justify: inter-word; */
    
    }


    .home-img{
        margin-top: 30px;
        margin-bottom: 90px;
        height: 200px;
        width: 650px;
        border-radius: 50px;
        /* box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.50); */
        text-align: right;

    }







    
  }