.whatsapp_div {
	position: fixed;
	left: 92%;
	top: 85%;
	z-index: 99;
	
}

.whatsapp_icon {
	font-size: 2rem;
	height: 65px;
	width: 65px;
	background-color: #25d366;
	color: #ffffff;
	padding: 16px 5px 15px 19px; 
	border-radius: 100%;
	box-shadow: rgb(0 0 0 / 15%) 0px 4px 12px 0px;
}

.whatsapp_icon:hover {
	color: #ffffff;
	transition: all 0.3s ease-in-out;
	scale: 1.1;
}

/* <<<============================    For Mobile    ============================>>>  */

@media only screen and (max-width: 600px) {
	.whatsapp_div {
		position: fixed;
		left: 78%;
		top: 90%;
	}
	.whatsapp_icon {
		height: 60px;
		width: 60px;
		padding: 14px 5px 15px 17px;
	}
}


